
backend/TravelAssitantAPI/TravelAssitantAPI/.env
backend/TravelAssitantAPI/.vs/TravelAssitantAPI/v16/TestStore/0/000.testlog
/backend/TravelAssitantAPI/.vs
/backend/TravelAssitantAPI/TravelAssitantAPI/bin
/backend/TravelAssitantAPI/TravelAssitantAPI/logs
/backend/TravelAssitantAPI/TravelAssitantAPI/obj
/backend/TravelAssitantAPI/UnitTests/bin
/backend/TravelAssitantAPI/UnitTests/obj
